.center{
    width: 50%;
    margin: 7% auto;
    text-align: center;
    border: 1px solid  #ddd;
    padding: 70px 50px;
    box-shadow: 0px 0px 9px -1px rgba(33,24,33,0.45);
    position: relative;
    .text{
        margin: 50px 0 0 0;
    }
    form{
        width: 50%;
        margin: 0 auto;
    }
    .input{
        width: 100%;
        position: relative;
    }
    .email-input{
        width: 100%;
        margin: 30px auto;

    }
    .btn-login{
        width: 100%;
        &:hover{
            opacity: .8;
        }
    }
    a{
        text-decoration: none;
        color:gray    }
    .eye-icon{
        position: absolute;
        top: 18%;
        right: 4%;
        i{
            color: darkgray;
        }
    }
    .pencil-icon{
        position: absolute;
        top: 18%;
        right: 4%;
        i{
            color: darkgray;
        }
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    .mail-icon{
        i{
            color:#ffc107;
            font-size: 40px
        }
    }
    .text{
        margin:30px 0;
        color: darkgrey;
    }
}

@media only screen and (max-width: 600px) {
    .center {
     width: 100%!important;
     box-shadow: none;
     border: none;
    }
    .email-input{
        font-size: 11px;
    }
    .btn-login{
        font-size: 11px;
    }
    p{
        font-size: 11px;
    }
    a{
        font-size: 11px;
    }
  }




